body{
    background-color: #e2e8f0;

}
.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.books>div {
    border: none;
    padding: 2rem 2.2rem;
    border-radius: 0.8rem;
    /* background-color: white; */
    background-image: linear-gradient( to right, #f0b429, #f0b429 2%, #ffffff 2%, #ffffff 100%, #ffffff 100% );
    box-shadow: 1px 2px 5px 0px #bababa;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap:1rem;
}
.books div p {
    padding: 0;
    margin: 0;
    align-self: center;
}
.books div p:nth-child(1){
    font-weight: 600;
    font-size: 1.4rem;
}
.books div div{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.books div button {
    background-color: rgb(47, 113, 145);
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
    height: 2.2rem;
    width: 6rem;
}
#form_dialog {
    border:none;
    border-radius: 0.4rem;
    width: 15rem;
    /* background-color: rgb(217, 217, 217); */
    box-shadow: 0px 2px 5px 3px rgb(169, 169, 169);
}

form{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 1rem;
    justify-content: center;
    font-size: 1.2rem;
}
form div{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
form button, #showForm {
    background-color: rgb(47, 113, 145);
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
    height: 2.2rem;
    width: 6rem;
}
form input {
    height: 2.4rem;
    align-items: center;
    border: none;
    background-color: rgb(211, 245, 245);
    border-radius: 0.3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}
form input[type='checkbox'] {
    width: 1.1rem;
}

